<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Framework.Bootstrap.Start.Bootstrapper, Framework.Bootstrap" patch:before="processor[@type='Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel']" />
      </initialize>
      <mvc.exception>
        <processor type="Sitecore.Mvc.Pipelines.MvcEvents.Exception.ShowAspNetErrorMessage, Sitecore.Mvc" >
          <patch:attribute name="type">Framework.Sc.Extensions.Pipelines.MvcEvents.RenderingExceptionProcessor, Framework.Sc.Extensions</patch:attribute>
          <CustomRenderingBehaviourRequired>false</CustomRenderingBehaviourRequired>
        </processor>
      </mvc.exception>
      <!--<mvc.renderRendering> 
        <processor type="Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc"> 
          <patch:attribute name="type">Framework.Sc.Extensions.Pipelines.Response.RenderRendering.ExecuteRenderer, Framework.Sc.Extensions</patch:attribute> 
            <ShowExceptionsToAdministrators>true</ShowExceptionsToAdministrators>
            <ShowExceptionsInPageEditor>true</ShowExceptionsInPageEditor>
            <ShowExceptionsInPreview>true</ShowExceptionsInPreview>
            <ShowExceptionsInDebugger>true</ShowExceptionsInDebugger>
        </processor> 
      </mvc.renderRendering>-->
      <httpRequestBegin>
        <processor type="Framework.Sc.Extensions.Pipelines.HttpRequest.PageNotFoundHandler, Framework.Sc.Extensions" patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
      <httpRequestProcessed>
        <processor type="Framework.Sc.Extensions.Pipelines.HttpRequest.SetNotFoundStatusCode, Framework.Sc.Extensions" />
      </httpRequestProcessed>
    </pipelines>
  </sitecore>
</configuration>