<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitesErrors>
      <site name="website">
        <errors defaultUrl="/error.aspx">
          <error statusCode="404" url="/error.aspx"/>
          <error statusCode="500" url="/error.aspx"/>
        </errors>
      </site>
      <site name="secure">
        <errors defaultUrl="/error.aspx">
          <error statusCode="404" url="/error.aspx"/>
          <error statusCode="500" url="/error.aspx"/>
        </errors>
      </site>
    </sitesErrors>
  </sitecore>
</configuration> 
