<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getRenderer>
        <processor type="Framework.Sc.Extensions.MvcAreas.Pipelines.GetRenderer.AreaControllerRendererProcessor, Framework.Sc.Extensions" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']">
          <templateId>{D7018B2D-AE1F-47C0-B2ED-AC5BAFFB3C27}</templateId>
        </processor>
      </mvc.getRenderer>
      <mvc.requestBegin>
        <processor type="Framework.Sc.Extensions.Pipelines.Request.RequestBegin.ExecuteAreaFormHandler, Framework.Sc.Extensions" patch:after="processor[@type='Sitecore.Mvc.Pipelines.Request.RequestBegin.SetupPageContext, Sitecore.Mvc']" />
        <processor type="Sitecore.Mvc.Pipelines.Request.RequestBegin.ExecuteFormHandler, Sitecore.Mvc">
          <patch:delete />
        </processor>
        <processor type="Framework.Sc.Extensions.Pipelines.Request.RequestBegin.DisableAjaxMvcAnalyticsTracking, Framework.Sc.Extensions"/>
      </mvc.requestBegin>
    </pipelines>
  </sitecore>
</configuration>